@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Amaranth:400,400i,700|Dosis:500,600,700|Signika+Negative:400,600');
<

.App {
  text-align: center;
}


h1 {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 0.05em;
}

.floralPinkPeach {
  position: absolute;
  margin-left: 73%;
  margin-top: -10%;
  width: 40%;
  height: 40%;
  opacity: 0.8;
}

.jsLogo {

  float: right;
  position: absolute;
  width: 100px;
  height: 120px;
  opacity: 0.6;
  padding: 1%;
  margin-left: 45%;
}

@media screen and (max-width: 988px) {

  .jsLogo {
    z-index: 1;
    margin-bottom: 70px;
    position: relative;
    width: 180px;
    height: 200px;
    padding: 30px;
    margin-left: 0%;
  }

  .floralPinkPeach {
    display: none
  }
}

@media screen and (max-width: 500px) {
  .jsLogo {
    z-index: 1;
    position: relative;
    margin-left: 0%;
    width: 30%;
    height: 30%;
    padding: 30px;
  }

  .floralPinkPeach {
    display: none
  }
}


/*COUNTDOWN*/
.Countdown {
  float: right;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 10px;
  width: 35%;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 800px) {
  .Countdown {
    display: none;
  }
}