@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Amaranth:400,400i,700|Dosis:500,600,700|Signika+Negative:400,600');
<


html {
  overflow-x: hidden;
}

.App {
  overflow-x: hidden;
  text-align: center;
}


h1 {
  font-family: 'Francois One', sans-serif;
  letter-spacing: 0.05em;
}

.storyComponent {
  /*overflow: scroll;*/
}

.floralPinkPeach {
  position: absolute;
  margin-left: 73%;
  margin-top: -10%;
  width: 40%;
  height: 40%;
  opacity: 0.8;
}

.jsLogo {
  z-index: 2;
  position: fixed;
  width: 180px;
  height: 200;
  padding: 25px;
}

@media screen and (max-width: 800px) {

  .jsLogo {
    z-index: 1;
    position: relative;
    width: 180px;
    height: 200;
    padding: 25px;
  }
}
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
