@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Amaranth:400,400i,700|Dosis:500,600,700|Signika+Negative:400,600');
<

.App {
  text-align: center;
}


h1 {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 0.05em;
}

.floralPinkPeach {
  position: absolute;
  margin-left: 73%;
  margin-top: -10%;
  width: 40%;
  height: 40%;
  opacity: 0.8;
}

.jsLogo {
  z-index: 2;
  position: fixed;
  width: 180px;
  height: 200;
  padding: 25px;
}

@media screen and (max-width: 800px) {

  .jsLogo {
    z-index: 1;
    position: relative;
    width: 180px;
    height: 200;
    padding: 25px;
  }
}