.Countdown {
  float: right;
  font-family: 'Julius Sans One', sans-serif;
/*  font-size: 1vw;
*/  margin-top: 10px;
  width: 35%;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 800px) {
  .Countdown {
    display: none;
  }
}