.Countdown{
  position: relative;
  float: right;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 5px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 5px;
}
