.Countdown {
  position: absolute;
  display: block;
  float: left;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1vw;
  margin-top: 10px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 1100px) {
  .Countdown {
    display: none;
  }
}
