
.rsvpComponent {
  background-image: url(../images/floral_frame.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 20px;
  margin: 10px;
  box-shadow: 1px 2px 1px 2px #D3D3D3;
  padding: 15px;
  align-content: center
}

.right {
  display: block;
  position: relative;
  margin-left: 35%;
  padding: 5px;
}

input {
  margin-left: 10px;
  padding: 0px;
}

.rsvpForm {
  width: 70%;
  margin: 10px;
  padding: 20px;

}
.rsvpColumn {
  padding: 10px;
}

.rsvpColumn.input {
  position: relative;
  margin-top: 0px;
  float: right;
  width: 50%;
  padding: 9px;
}

.rsvpColumn.comment {
  float: right;
  width: 50%;
  padding: 9px;
}

button {
  background-color: transparent;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}