.image1,.image2,.image3{
  position: fixed;
  top: -50%;
  left: -10%;
  width: 55%;
  height: 200%;
}

.image1 {
  background: url('../images/cityline2.jpg') no-repeat center ;
  background-size: cover;
  animation:fade 20s infinite;
  -webkit-animation:fade 20s infinite;
}

.image2 {
  background: url('../images/testing.jpg') no-repeat;
  background-position: center center;
  animation:fade2 20s infinite;
  -webkit-animation:fade2 20s infinite;
}

.image3 {
  background: url('../images/portrait.jpg') no-repeat center ;
  background-size: contain;
  animation:fade3 20s infinite;
  -webkit-animation:fade3 20s infinite;
}

@keyframes fade {
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}

@keyframes fade2 {
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}

@keyframes fade3 {
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@media screen and (max-width: 988px) {
  .image1 {
    position: absolute;
    display: block;
    overflow-x: hidden;
    width: 100%;
    left: 0%;
    top: 0%;
    height: 40%;
    animation: none;
  }

  .image2,.image3 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .image1 {
    position: absolute;
    overflow-x: hidden;
    display: block;
    background-size: cover;
    width: 100%;
    left: 0%;
    top: 0%;
    height: 35%;
    animation: none;
  }
  .image2,.image3{
    display: none
  }
}