.sideimage {
  position: fixed;
  top: -50%;
  left: -10%;
  width: 55%;
  height: 200%;
  background-image: url(../images/cityline.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 800px) {
  .sideimage {
    display: block;
    min-width: 200%;
    top: 0%;
    left: -45%;
    height: 50%;
  }
}