.tabStyle {
  position: absolute;
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: -0.05em;
  margin-left: 50%;
  margin-top: 10%;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .tabStyle {
    display: block;
    width: 100%;
    margin-top: 450px;
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 450px) {
  .tabStyle {
    display: block;
    width: 100%;
    margin-top: 260px;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 3vw;
  }
}