.teamComponent h2 {
  text-align: center;
}

.teamContainer {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  line-height: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap:   0;
  -moz-column-count:    4;
  -moz-column-gap:      0;
  column-count:         4;
  column-gap:           0;
}

.imgContainer {
  margin-left: 2px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 50%;
  border: 1px solid #808080;

}
.imgContainer img {
  max-width: 100%;
}


.imgContainer .teamHover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  transition: all 0.4s ease-in-out 0s;
}
.imgContainer .teamHoverText {  /*position: absolute;*/
  padding-right: 8px;
}

.imgContainer:hover .teamHover {
  opacity: 1;
}